<tr class='{CSS_ROW} xali_user_details_row'>
	<td class='std small'>
		<a href="{VAL_EDIT_LINK}">
			{VAL_DATE}
		</a>
	</td>
	<td class='std small'>
		{VAL_TUTOR}
	</td>
	<td class='std small'>
		<input type="radio" name="attendance_status[{VAL_ID}]" id="present_{VAL_ID}" value="3" {VAL_CHECKED_3}>
		<label for="present_{VAL_ID}" style="margin-right:15px">{LABEL_PRESENT}</label>
		<!--<input type="radio" name="attendance_status[{VAL_ID}]" id="absent_excused_{VAL_ID}" value="2" {VAL_CHECKED_2}>-->
		<!--<label for="absent_excused_{VAL_ID}" style="margin-right:15px">{LABEL_EXCUSED}</label>-->
		<input type="radio" name="attendance_status[{VAL_ID}]" id="absent_unexcused_{VAL_ID}" value="1" {VAL_CHECKED_1}>
		<label for="absent_unexcused_{VAL_ID}" style="margin-right:15px">{LABEL_UNEXCUSED}</label>
		<!-- BEGIN not_relevant_status -->
		<input type="radio" name="attendance_status[{VAL_ID}]" id="absent_not_relevant_{VAL_ID}" value="1" {VAL_CHECKED_1}>
		<label for="absent_not_relevant_{VAL_ID}" style="margin-right:15px">{LABEL_NOT_RELEVANT}</label>
		<!-- END not_relevant_status -->
		<font class="xali_warning" color="red">{VAL_WARNING}</font>
		<a id="xali_link_save_{VAL_ID}" class="xali_link_save" {VAL_LINK_SAVE_HIDDEN}><font color="green">{VAL_SAVE}</font></a>
		<span class="xali_saving" hidden>{VAL_SAVING}</span>
	</td>
	<td class='std small'>
		<a class="xali_absence_reason" href="{LINK_ABSENCE_REASON}" {VAL_LINK_ABSENCE_HIDDEN}>{VAL_ABSENCE_REASON}</a>
	</td>
</tr>