<tr class='{CSS_ROW}'>
	<td class='std small'>
		<!-- BEGIN name_with_link -->
		<a href="{VAL_EDIT_LINK}">
			{VAL_NAME}
		</a>
		<!-- END name_with_link -->
		<!-- BEGIN name_without_link -->
		{VAL_NAME}
		<!-- END name_without_link -->
	</td>
	<td class='std small'>
		{VAL_LOGIN}
	</td>
	<td class='std small'>
		<input type="radio" name="attendance_status[{VAL_ID}]" id="present_{VAL_ID}" value="3" {VAL_CHECKED_3}>
		<label for="present_{VAL_ID}" style="margin-right:15px">{LABEL_PRESENT}</label>
		<!--<input type="radio" name="attendance_status[{VAL_ID}]" id="absent_excused_{VAL_ID}" value="2" {VAL_CHECKED_2}>-->
		<!--<label for="absent_excused_{VAL_ID}" style="margin-right:15px">{LABEL_EXCUSED}</label>-->
		<input type="radio" name="attendance_status[{VAL_ID}]" id="absent_unexcused_{VAL_ID}" value="1" {VAL_CHECKED_1}>
		<label for="absent_unexcused_{VAL_ID}" style="margin-right:15px">{LABEL_UNEXCUSED}</label>
		<!-- BEGIN not_relevant_status -->
		<input type="radio" name="attendance_status[{VAL_ID}]" id="absent_not_relevant_{VAL_ID}" value="4" {VAL_CHECKED_4}>
		<label for="absent_not_relevant_{VAL_ID}" style="margin-right:15px">{LABEL_NOT_RELEVANT}</label>
		<!-- END not_relevant_status -->
		<font color="red">{VAL_WARNING}</font>
	</td>
	<td class='std small'>
		<!-- BEGIN absence_with_link -->
		<a class="xali_absence_reason" href="{VAL_ABSENCE_LINK}">
			{VAL_ABSENCE_REASON}
		</a>
		<!-- END absence_with_link -->
		<!-- BEGIN absence_without_link -->
		{VAL_ABSENCE_REASON}
		<!-- END absence_without_link -->
	</td>
</tr>