<tr class='{CSS_ROW}'>
	<td class='std small'>
		<a href="{VAL_EDIT_LINK}">
			{VAL_NAME}
		</a>
	</td>
	<td class='std small'>
		{VAL_LOGIN}
	</td>
	<td class='std small'>
		{VAL_PRESENT}
	</td>
	<!--<td class='std small'>-->
		<!--{VAL_EXCUSED}-->
	<!--</td>-->
	<td class='std small'>
		{VAL_UNEXCUSED}
	</td>
	<td class='std small'>
		{VAL_NO_STATUS}
	</td>
	<td style="color:{COLOR};" class='std small'>
		{VAL_PERCENTAGE}
	</td>
	<!--<td class='std small'>-->
		<!--{ACTIONS}-->
	<!--</td>-->
</tr>